/* For desktop view */

/* Navbar */
#menu {
    margin-top: 20px;
    position: fixed;
}

h1, h3 {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.socialLinks {
    margin-top: 20px;
}

/* For mobile view */
@media (max-width: 767px) {
    /* Navbar */
    #menu {
        margin-top: 0;
    }

    h1, h3 {
        text-align: center;
    }

    button {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    /* Footer */
    footer {
        padding: 10px;
    }

    .socialLinks {
        margin-top: 10px;
    }

    .navbar-toggler {
        display: block;
        margin: 0 auto;
    }

    /* Adjust order of sidebar and content */
    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }
}
